In [4]:
import pandas as pd
import numpy as np

In [5]:
# Pandas Series
data = pd.Series([1, 3, 5, np.nan, 6, 8])
print(data)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [12]:
# Pandas DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': ['a', 'b', 'c', 'd'], 'C': [True, False, True, False]})
print(df)

   A  B      C
0  1  a   True
1  2  b  False
2  3  c   True
3  4  d  False

In [7]:
# Data indexing and selection
print(df['A']) 
print(df.loc[0])
print(df.iloc[1:3])

0    1
1    2
2    3
3    4
Name: A, dtype: int64
A       1
B       a
C    True
Name: 0, dtype: object
   A  B      C
1  2  b  False
2  3  c   True

In [13]:
# Data manipulation and cleaning
df['D'] = [10, 20, 30, 40]  # Adding a new column
print(df)

   A  B      C   D
0  1  a   True  10
1  2  b  False  20
2  3  c   True  30
3  4  d  False  40

In [16]:
df.drop('D', axis=1, inplace=True)  # Dropping a column
print(df)

   A  B      C
0  1  a   True
1  2  b  False
2  3  c   True
3  4  d  False

In [10]:
# Handling missing data
df['E'] = [np.nan, 50, 60, np.nan]
print(df.dropna())  # Drop rows with missing values
print(df.fillna(0))  # Fill missing values with 0

   A  B      C     E
1  2  b  False  50.0
2  3  c   True  60.0
   A  B      C     E
0  1  a   True   0.0
1  2  b  False  50.0
2  3  c   True  60.0
3  4  d  False   0.0

In [11]:
# Data aggregation and grouping
grouped = df.groupby('B')
print(grouped.mean())

     A    C     E
B
a  1.0  1.0   NaN
b  2.0  0.0  50.0
c  3.0  1.0  60.0
d  4.0  0.0   NaN